.cyyg6ey {
  color: red;
}
.c1r9f2e5 {
  color: blue;
}
.cypsp25 {
  opacity: 0;
}
.cu2kwdz {
  opacity: 1;
}
.cg0eup6 {
  font-size: var(--c3520804954);
}
.c1nzfmuv {
  margin-top: 12px;
}
@media (max-width: 800px) {
  .cfbjvwc {
    color: purple;
  }
}
@media (max-width: 800px) {
  .ckbdzuw {
    color: orange;
  }
}
.c1ridlgi:hover {
  text-decoration: underline;
}
